# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Local runner/build outputs
ERO_LocalBuilds/
Artifacts/
TestResults/


# Unreal Engine generated folders
Unreal/Binaries/
Unreal/DerivedDataCache/
Unreal/Intermediate/
Unreal/Saved/
Unreal/.vs/
Unreal/*.sln
Unreal/*.suo
Unreal/*.VC.db
Unreal/*.VC.opendb
